.MenuBar {
  margin-top: 61px;
  background-color : #FFF;
  border-bottom : 1px solid #e7e7e7;
  height : 42px;
}

/**
<ButtonToolbar >
              <ToggleButtonGroup  style={{ marginTop: "5px" }} type="radio" name="options" value={this.props.perspective}>
                <ToggleButton bsSize="small" value={1}>
                  <Link to={{ patname: logURL, search: "perspective=1" }}>
                    <span className="glyphicon glyphicon-comment"></span> Datasets
                      </Link>
                </ToggleButton>
                <ToggleButton bsSize="small"value={2}>
                  <Link to={{ patname: logURL, search: "perspective=2" }}><span className="glyphicon glyphicon-comment"></span> Files</Link>
                </ToggleButton>

                <ToggleButton bsSize="small" value={3}>
                  <Link to={{ patname: logURL, search: "perspective=3" }}> <span className="glyphicon glyphicon-comment"></span> Logbook</Link>
                </ToggleButton>
              </ToggleButtonGroup>
            </ButtonToolbar>
            **/